<!DOCTYPE html>
{% extends "base.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Lady In White - Galeria {% endblock title %}</title>
</head>
<body>

{% block header %}
        <a href="/" >Strona Glówna</a>
        <a href="/" >O Salonie</a>
        <a href="#pokaz" >Pokazy</a>
{% endblock header %}

{% block content %}
<div class="gallery" id="row">
    <div class="column">
    <a href="static/images/Suknia5.jpg" data-lightbox="mygallery"> <img src="static/images/Suknia5.jpg" style="width: 100%;"></a>
    <a href="static/images_compressed/Suknia2-min.JPG" data-lightbox="mygallery"> <img src="static/images_compressed/Suknia2-min.JPG" style="width: 100%;"></a>
    <a href="static/images_compressed/Suknia11-min.JPG" data-lightbox="mygallery"> <img src="static/images_compressed/Suknia11-min.JPG" style="width: 100%;"></a>
    <a href="static/images_compressed/Suknia18-min.JPG" data-lightbox="mygallery"> <img src="static/images_compressed/Suknia18-min.JPG" style="width: 100%;"></a>
    <a href="static/images/Suknia23.jpg" data-lightbox="mygallery"> <img src="static/images/Suknia23.jpg" style="width: 100%;"></a>
    <a href="static/images_compressed/Suknia24-min.JPG" data-lightbox="mygallery"> <img src="static/images_compressed/Suknia24-min.JPG" style="width: 100%;"></a>
    </div>
    <div class="column">
    <a href="static/images_compressed/Suknia6-min.JPG" data-lightbox="mygallery"> <img src="static/images_compressed/Suknia6-min.JPG" style="width: 100%;"></a>
    <a href="static/images_compressed/Suknia10-min.JPG" data-lightbox="mygallery"> <img src="static/images_compressed/Suknia10-min.JPG" style="width: 100%;"></a>
    <a href="static/images/Suknia15.jpg" data-lightbox="mygallery"> <img src="static/images/Suknia15.jpg" style="width: 100%;"></a>
    <a href="static/images_compressed/Suknia19-min.JPG" data-lightbox="mygallery"> <img src="static/images_compressed/Suknia19-min.JPG" style="width: 100%;"></a>
    <a href="static/images_compressed/Suknia21-min.JPG" data-lightbox="mygallery"> <img src="static/images_compressed/Suknia21-min.JPG" style="width: 100%;"></a>
    <a href="static/images/Suknia26.jpg" data-lightbox="mygallery"> <img src="static/images/Suknia26.jpg" style="width: 100%;"></a>
    </div>
    <div class="column">
    <a href="static/images/Suknia7.jpg" data-lightbox="mygallery"> <img src="static/images/Suknia7.jpg" style="width: 100%;"></a>
    <a href="static/images_compressed/Suknia13-min.JPG" data-lightbox="mygallery"> <img src="static/images_compressed/Suknia13-min.JPG" style="width: 100%;"></a>
    <a href="static/images_compressed/Suknia12-min.JPG" data-lightbox="mygallery"> <img src="static/images_compressed/Suknia12-min.JPG" style="width: 100%;"></a>
    <a href="static/images_compressed/Suknia20-min.JPG" data-lightbox="mygallery"> <img src="static/images_compressed/Suknia20-min.JPG" style="width: 100%;"></a>
    <a href="static/images/Suknia4.JPG" data-lightbox="mygallery"> <img src="static/images/Suknia4.JPG" style="width: 100%;"></a>
    <a href="static/images_compressed/Suknia22-min.JPG" data-lightbox="mygallery"> <img src="static/images_compressed/Suknia22-min.JPG" style="width: 100%;"></a>
    </div>
    <div class="column">
    <a href="static/images_compressed/Suknia9-min.JPG" data-lightbox="mygallery"> <img src="static/images_compressed/Suknia9-min.JPG" style="width: 100%;"></a>
    <a href="static/images/Suknia14.jpg" data-lightbox="mygallery"> <img src="static/images/Suknia14.jpg" style="width: 100%;"></a>
    <a href="static/images_compressed/Suknia17-min.JPG" data-lightbox="mygallery"> <img src="static/images_compressed/Suknia17-min.JPG" style="width: 100%;"></a>
    <a href="static/images_compressed/Suknia16-min.JPG" data-lightbox="mygallery"> <img src="static/images_compressed/Suknia16-min.JPG" style="width: 100%;"></a>
    <a href="static/images_compressed/Suknia1-min.JPG" data-lightbox="mygallery"> <img src="static/images_compressed/Suknia1-min.JPG" style="width: 100%;"></a>
    <a href="static/images_compressed/Suknia30-min.JPG" data-lightbox="mygallery"> <img src="static/images_compressed/Suknia30-min.JPG" style="width: 100%;"></a>
    </div>
    <div class="column2" id="pokaz">
        <a href="static/images_compressed/Pokaz1-min.JPG" data-lightbox="mygallery"> <img src="static/images_compressed/Pokaz1-min.JPG" ></a>
    </div>
    <div class="column2">
        <a href="static/images_compressed/Pokaz2-min.JPG" data-lightbox="mygallery"> <img src="static/images_compressed/Pokaz2-min.JPG"></a>
    </div></div>
{% endblock %}
</body>
</html>