<!DOCTYPE html>
{% extends "base.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Lady In White - Galeria {% endblock title %}</title>
</head>
<body>

{% block header %}
        <a href="/" >Strona Glówna</a>
        <a href="/" >O Salonie</a>
        <a href="#pokaz" >Pokazy</a>
{% endblock header %}

{% block content %}
<div class="gallery" id="row">
    <div class="column">
    <a href="static/images/Suknia5.jpg" data-lightbox="mygallery"> <img src="static/images/Suknia5.jpg" style="width: 100%;"></a>
    <a href="static/images/Suknia2.jpg" data-lightbox="mygallery"> <img src="static/images/Suknia2.jpg" style="width: 100%;"></a>
    <a href="static/images/Suknia11.JPG" data-lightbox="mygallery"> <img src="static/images/Suknia11.JPG" style="width: 100%;"></a>
    <a href="static/images/Suknia18.JPG" data-lightbox="mygallery"> <img src="static/images/Suknia18.JPG" style="width: 100%;"></a>
    <a href="static/images/Suknia23.jpg" data-lightbox="mygallery"> <img src="static/images/Suknia23.jpg" style="width: 100%;"></a>
    <a href="static/images/Suknia24.JPG" data-lightbox="mygallery"> <img src="static/images/Suknia24.JPG" style="width: 100%;"></a>
    </div>
    <div class="column">
    <a href="static/images/Suknia6.JPG" data-lightbox="mygallery"> <img src="static/images/Suknia6.JPG" style="width: 100%;"></a>
    <a href="static/images/Suknia10.JPG" data-lightbox="mygallery"> <img src="static/images/Suknia10.JPG" style="width: 100%;"></a>
    <a href="static/images/Suknia15.jpg" data-lightbox="mygallery"> <img src="static/images/Suknia15.jpg" style="width: 100%;"></a>
    <a href="static/images/Suknia19.JPG" data-lightbox="mygallery"> <img src="static/images/Suknia19.JPG" style="width: 100%;"></a>
    <a href="static/images/Suknia21.JPG" data-lightbox="mygallery"> <img src="static/images/Suknia21.JPG" style="width: 100%;"></a>
    <a href="static/images/Suknia26.jpg" data-lightbox="mygallery"> <img src="static/images/Suknia26.jpg" style="width: 100%;"></a>
    </div>
    <div class="column">
    <a href="static/images/Suknia7.jpg" data-lightbox="mygallery"> <img src="static/images/Suknia7.jpg" style="width: 100%;"></a>
    <a href="static/images/Suknia13.JPG" data-lightbox="mygallery"> <img src="static/images/Suknia13.JPG" style="width: 100%;"></a>
    <a href="static/images/Suknia12.JPG" data-lightbox="mygallery"> <img src="static/images/Suknia12.JPG" style="width: 100%;"></a>
    <a href="static/images/Suknia20.JPG" data-lightbox="mygallery"> <img src="static/images/Suknia20.JPG" style="width: 100%;"></a>
    <a href="static/images/Suknia4.JPG" data-lightbox="mygallery"> <img src="static/images/Suknia4.JPG" style="width: 100%;"></a>
    <a href="static/images/Suknia22.JPG" data-lightbox="mygallery"> <img src="static/images/Suknia22.JPG" style="width: 100%;"></a>
    </div>
    <div class="column">
    <a href="static/images/Suknia9.JPG" data-lightbox="mygallery"> <img src="static/images/Suknia9.JPG" style="width: 100%;"></a>
    <a href="static/images/Suknia14.jpg" data-lightbox="mygallery"> <img src="static/images/Suknia14.jpg" style="width: 100%;"></a>
    <a href="static/images/Suknia17.JPG" data-lightbox="mygallery"> <img src="static/images/Suknia17.JPG" style="width: 100%;"></a>
    <a href="static/images/Suknia16.JPG" data-lightbox="mygallery"> <img src="static/images/Suknia16.JPG" style="width: 100%;"></a>
    <a href="static/images/Suknia1.JPG" data-lightbox="mygallery"> <img src="static/images/Suknia1.JPG" style="width: 100%;"></a>
    <a href="static/images/Suknia30.JPG" data-lightbox="mygallery"> <img src="static/images/Suknia30.JPG" style="width: 100%;"></a>
    </div>
    <div class="column2" id="pokaz">
        <a href="static/images/Pokaz1.JPG" data-lightbox="mygallery"> <img src="static/images/Pokaz1.JPG" ></a>
    </div>
    <div class="column2">
        <a href="static/images/Pokaz2.JPG" data-lightbox="mygallery"> <img src="static/images/Pokaz2.JPG"></a>
    </div></div>
{% endblock %}
</body>
</html>